@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
